///////////////pink box for tutorial
.select-filters {
    width: 430px;
    height: 191px;
    border-radius: 3px;
    background-color: #c42bff;
}

.header-select-filters {
    width: 137px;
    height: 29px;
    font-family: Lato;
    font-size: 24px;
    text-align: left;
    color: #ffffff;
}

.body-select-filters {
    width: 366px;
    height: 18px;
    font-family: Lato;
    font-size: 15px;
    text-align: left;
    color: #ffffff;
}

.circles {
    width: 6px;
    height: 6px;
    background-color: #ffffff;
}

.circles-2 {
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.4);
}

.select-filters,
button {
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.4);
}

.select-filters .next {
    width: 33px;
    height: 18px;
    font-family: Lato;
    font-size: 15px;
    text-align: center;
    color: #c42bff;
}

.skip {
    width: 28px;
    height: 18px;
    font-family: Lato;
    font-size: 15px;
    text-align: right;
    color: #ffffff;
}
.activeLegal {
    cursor: pointer;
    display: none;
    width: 500px;
    height: 400px;
    border-radius: 3px;
    bottom: 57px;
    left: 224px;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    
    @media (min-width: 768px) and (max-width: 1024px) {
        left: 192px;
        bottom: 37px;
    }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation:landscape) {
        left: 192px;
        bottom: 125px;
    }
    .Close {
        width: 37px;
        height: 18px;
        font-family: Lato;
        font-size: 15px;
        color: #677684;
        margin-left: 408px;
        position: absolute;
        top: 20px;
    }
    &.active {
        display: block;
        & h2 {
            margin: 33px 0 0 42px;
            height: 29px;
            font-family: Lato;
            font-size: 24px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #1b2833;
            @media (min-width: 768px) and (max-width: 1024px) and (orientation:landscape) {
                margin: 36px 0 0 43px;
            }
        }

        & p {
            font-family: Lato;
            font-size: 16px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: inherit;
            letter-spacing: inherit;
            text-align: left;
            color: #677684;
            padding: 15px 42px;
        }
        &:before {
            content: " ";
            right: 100%;
            top: 62%;
            border: solid transparent;
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(255, 255, 255, 0);
            border-right-color: #fff;
            border-width: 14px;
            margin: 83.2px 0px 0px 8px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%)
        }
    }
}

#iicBlock {
    width: 183px;
    height: 419px;
    border-radius: 3px;
    bottom: 230px;
    background-color: #ffffff; // display: none;
    position: absolute;
    z-index: 1;
    display: none;
    bottom: 33px;    
    left: 224px;
    @media (min-width: 768px) and (max-width: 1024px) {
        left: 192px;
        bottom: 37px;
    }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation:landscape) {
        left: 192px;
        bottom: 101px;
    }

    &:before {
        content: "";
        width: 0;
        height: 0;
        border-right-color: #d66c5c;
        left: -36px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }
        p {
            width: 16px;
            height: 16px;
            font-family: Lato;
            font-size: 13px;
            text-align: left;
            color: #1b2833;
        }
        /////combine min and max
    .minMaxContain {
        display: inline-flex;


        .min {
            width: 75px;
            height: 32px;
            border-radius: 3px;
            background-color: #ffffff;
            border: solid 1px #e6e8eb;
            margin: 12px 3px 8px 8px;
            transition: all 0.5s;
            padding-left: 10px;
            &:hover {
                    border: solid 1px #d42bff;
            }
        }
        .max {
            width: 75px;
            height: 32px;
            border-radius: 3px;
            background-color: #ffffff;
            border: solid 1px #e6e8eb;
            margin: 12px 3px 8px 4px;
            float: right;
            transition: all 0.5s;
            padding-left: 10px;
            &:hover {
                    border: solid 1px #d42bff;
            }
        }   
        .iicLine-min {
            width: 9px;
            border: solid .5px #aa25de;
            margin-top: 15%;
        }
    
        p {
            width: 8px;
            height: 16px;
            font-family: Lato;
            font-size: 13px;
            text-align: left;
            color: #677684;
            margin: 8px 158px 8px 17px;
        }
    }
    hr {
        width: 181px;
        height: 0;
        border: solid 1px #e6e8eb;
        z-index: 2;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .iicNumList {
        font-family: Lato;
        font-size: 13px;

        color: #677684;
        padding-left: 0;
        li {
            margin-bottom: 5.6px;
            padding: 0 16px;
            color: #677684;
            background: #fff;
            transition: all 0.3s;
            &:hover {
                background-color: #d42bff;
                color: #fff;
            }
        }
    }

    .iicNumList2 {
        font-family: Lato;
        font-size: 13px;
        color: #677684;
        padding-left: 0;
        li {
            margin-bottom: 5.6px;
            padding-right: 10px;
            color: #677684;
            background: #fff;
            -webkit-transition: all .3s;
            transition: all .3s;
            text-align: right;
        } &:hover {
            background-color: #d42bff;
            color: #fff;
        }
    }

    &.active {
        display: block;
        &:before {
            right: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(255, 255, 255, 0);
            border-right-color: #fff;
            border-width: 14px;
            margin: 83.2px 0px 0px 8px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%)
        }
    }
}